@page "/ujhotel"
@inject Nav_Bootstrap.Data.MySQL_DB_Context HotelDB
@rendermode InteractiveServer


<h3>UjHotel</h3>

<hr />
 <div class="row">
     <div class="column">
         <EditForm Enhance>
             <DataAnnotationsValidator>

             </DataAnnotationsValidator>
         </EditForm>
     </div>
 </div>

@code {

}
